<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 注册数据源DataSource，访问数据库 -->	
	<!-- 使用c3p0 -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/goods?characterEncoding=utf-8"/>
		<property name="user" value="root"/>
		<property name="password" value="123456"/>
	</bean>
	
	
	<!-- 注册SqlSessionFactory，创建SqlSessionFactory对象-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:resources/mybatis.xml" />
		<property name="dataSource" ref="myDataSource"/>
	</bean>
	
	<!-- 创建Dao接口类的实现对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="basePackage" value="com.fuzhou.dao"></property>
	</bean>
	<!-- 自动扫描service类 -->
	<context:component-scan base-package="com.fuzhou.service.impl"/>
	<context:component-scan base-package="com.fuzhou.domain"></context:component-scan>
	
</beans>